/laskarit/viikko2/Unicafe/target
/Sudoku/target
/Sudoku/.idea/workspace.xml
/Sudoku/.idea/tasks.xml
/Sudoku/.idea/usage.statistics.xml
/Sudoku/.idea/dictionaries
/Sudoku/.idea/shelf
/Sudoku/.idea/modules.xml
/Sudoku/.idea//uiDesigner.xml
/Sudoku/.idea/dbnavigator.xml
/Sudoku/Sudoku.iml
/Sudoku/out/
